ultralytics==8.2.0
torch>=2.0.0
torchvision>=0.15.0

opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80

numpy<2
pillow>=10.0.0

pyyaml
tqdm
python-dotenv

einops
regex
packaging
scipy

open-clip-torch==2.24.0

matplotlib
